[Unit]
Description=Kanata Custom Keymap Service
Documentation=https://github.com/jtroo/kanata
#After=systemd-user-sessions.service
#Requires=local-fs.target
#After=local-fs.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/kanata --cfg /etc/kanata/mycol.kbd --port 5239

# Restart kanata if it crashes
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=sysinit.target

