[Unit]
Description=Kanata Keyboard Service
Documentation=https://github.com/jtroo/kanata

[Service]
Type=simple
User=root
ExecStart=/etc/kanata/kanata_linux_x64 --cfg /etc/kanata/colemak-dh-twilight.kbd --quiet
#Restart=on-failure
#RestartSec=10

[Install]
WantedBy=multi-user.target
